Repository SELab-2/Dwengo-2, pull requests merged in 2025-04, with the labels that each got.

#496 [Server] - Fix server issues
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  backend/test/integration/user.int.test.ts
Labels: bug

#494 [Backend] - learningPath fix all param
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  backend/src/core/services/learningPath/getAllLearningPaths.ts
  backend/test/integration/user.int.test.ts
  frontend/angular.json
Labels: bug, backend

#498 [Server] - Fix .env file for production
  .github/workflows/deploy.yml
Labels: bug

#456 [Backend] - Fixed bug in addUserToClass
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceClassTypeORM.ts
Labels: bug, backend

#508 [Frontend] - Restrict student access on class page
  frontend/src/app/components/class/class.component.html
  frontend/src/app/pages/classes-page/classes-page.component.html
  frontend/src/app/pages/classes-page/classes-page.component.ts
Labels: enhancement, frontend

#510 Merge for release
  backend/src/core/services/learningPath/getAllLearningPaths.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceClassTypeORM.ts
  frontend/src/app/app.routes.ts
  frontend/src/app/components/class/class.component.html
  frontend/src/app/components/create-group/create-group.component.html
  frontend/src/app/components/create-group/create-group.component.less
  frontend/src/app/components/create-group/create-group.component.spec.ts
  frontend/src/app/components/create-group/create-group.component.ts
  frontend/src/app/components/group-card/group-card.component.html
  frontend/src/app/components/group-card/group-card.component.less
  frontend/src/app/components/group-card/group-card.component.spec.ts
  frontend/src/app/components/group-card/group-card.component.ts
  frontend/src/app/components/group/group.component.html
  frontend/src/app/components/group/group.component.less
  frontend/src/app/components/group/group.component.spec.ts
  frontend/src/app/components/group/group.component.ts
  frontend/src/app/components/student-dashboard/student-dashboard.component.html
  frontend/src/app/components/student-dashboard/student-dashboard.component.spec.ts
  frontend/src/app/components/student-dashboard/student-dashboard.component.ts
  frontend/src/app/components/teacher-dashboard/mock-services.ts
  frontend/src/app/components/teacher-dashboard/teacher-dashboard.component.ts
  frontend/src/app/interfaces/group/group.ts
  frontend/src/app/interfaces/group/groupResponse.ts
  frontend/src/app/interfaces/group/groups.ts
  frontend/src/app/interfaces/group/newGroup.ts
  frontend/src/app/pages/classes-page/classes-page.component.html
  frontend/src/app/pages/classes-page/classes-page.component.ts
  frontend/src/app/services/group.service.spec.ts
  frontend/src/app/services/group.service.ts
Labels: enhancement
