Repository SELab-2/Dwengo-2, pull requests merged in 2025-05, with the labels that each got.

#523 [Frontend] - Language selection component
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/components/authenticated-header/authenticated-header.component.html
  frontend/src/app/components/authenticated-header/authenticated-header.component.ts
  frontend/src/app/components/language-selector/language-selector.component.html
  frontend/src/app/components/language-selector/language-selector.component.less
  frontend/src/app/components/language-selector/language-selector.component.spec.ts
  frontend/src/app/components/language-selector/language-selector.component.ts
  frontend/src/app/components/unauthenticated-header/unauthenticated-header.component.html
  frontend/src/app/components/unauthenticated-header/unauthenticated-header.component.ts
Labels: enhancement, frontend

#535 Fix clearDatabase script not running correctly
  backend/extra/clearDatabase.ts
Labels: bug, backend

#536 Revert "Fix clearDatabase script not running correctly"
  backend/extra/clearDatabase.ts
Labels: help wanted

#525 [Frontend] - Create group component update
  frontend/src/app/components/create-group/create-group.component.html
  frontend/src/app/components/create-group/create-group.component.spec.ts
  frontend/src/app/components/create-group/create-group.component.ts
Labels: enhancement, frontend

#520 [Backend] - Teacher/Student id and User id difference fix
  backend/src/infrastructure/database/data/data_models/groupTypeorm.ts
  backend/src/infrastructure/database/data/data_models/questionThreadTypeorm.ts
  backend/src/infrastructure/database/data/data_models/studentOfGroupTypeorm.ts
  backend/src/infrastructure/database/data/data_models/studentTypeorm.ts
  backend/src/infrastructure/database/data/data_models/submissionTypeorm.ts
  backend/src/infrastructure/database/data/data_models/teacherOfClassTypeorm.ts
  backend/src/infrastructure/database/data/data_models/teacherTypeorm.ts
  backend/src/infrastructure/database/data/data_models/userOfClassTypeorm.ts
  backend/src/infrastructure/database/data/data_models/userTypeorm.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceAssignmentTypeORM.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceClassTypeORM.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceGroupTypeORM.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceJoinRequestTypeORM.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceMessageTypeORM.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceStudentTypeORM.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceSubmissionTypeORM.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceTeacherTypeORM.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceThreadTypeORM.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceTypeORMConnectionSettingsFactory.ts
  backend/src/infrastructure/database/dwengo_database.drawio.svg
  backend/src/infrastructure/repositories/teacherRepositoryTypeORM.ts
  backend/test/unit/infrastructure/database/data_sources/typeorm/datasourceClassTypeORM.test.ts
  backend/test/unit/infrastructure/database/data_sources/typeorm/datasourceJoinRequestTypeORM.test.ts
  backend/test/unit/infrastructure/database/data_sources/typeorm/datasourceTeacherTypeORM.test.ts
  backend/test/unit/infrastructure/repositories/teacherRepositoryTypeORM.test.ts
Labels: enhancement, backend

#537 [Database] - Fix clearDatabase script not running correctly
  backend/extra/clearDatabase.ts
Labels: bug

#538 [Database] - Connection pooling poolSize parameter
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceTypeORM.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceTypeORMConnectionSettings.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceTypeORMConnectionSettingsFactory.ts
Labels: enhancement, backend

#552 [Frontend] - student can create a submission + go through an assignment
  backend/api/openapi.yml
  backend/src/application/resources/progressResource.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceTypeORMConnectionSettingsFactory.ts
  frontend/src/app/app.component.less
  frontend/src/app/app.routes.ts
  frontend/src/app/components/create-submission/create-submission.component.html
  frontend/src/app/components/create-submission/create-submission.component.less
  frontend/src/app/components/create-submission/create-submission.component.spec.ts
  frontend/src/app/components/create-submission/create-submission.component.ts
  frontend/src/app/components/learning-path/learning-path.component.html
  frontend/src/app/components/learning-path/learning-path.component.less
  frontend/src/app/components/learning-path/learning-path.component.ts
  frontend/src/app/components/teacher-dashboard/teacher-dashboard.component.ts
  frontend/src/app/datastructures/directed-graph.ts
  frontend/src/app/interfaces/progress/Progress.ts
  frontend/src/app/interfaces/submissions/newSubmission.ts
  frontend/src/app/interfaces/submissions/newSubmissionResponse.ts
  frontend/src/app/interfaces/user/usersOfClass.ts
  frontend/src/app/pages/assignment-page/assignment-page.component.html
  frontend/src/app/pages/assignment-page/assignment-page.component.less
  frontend/src/app/pages/assignment-page/assignment-page.component.spec.ts
  frontend/src/app/pages/assignment-page/assignment-page.component.ts
  frontend/src/app/services/classes.service.spec.ts
  frontend/src/app/services/classes.service.ts
  frontend/src/app/services/graph-builder.service.ts
  frontend/src/app/services/progress.service.spec.ts
  frontend/src/app/services/progress.service.ts
  frontend/src/app/services/submission.service.spec.ts
  frontend/src/app/services/submission.service.ts
Labels: enhancement, feature, frontend

#511 [Backend] - Separate query to get assignments for a teacher
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceAssignmentTypeORM.ts
Labels: bug, backend

#547 414 backend additional data required in frontend
  backend/api/openapi.yml
  backend/src/application/resources/progressResource.ts
  backend/src/config/controllers.ts
  backend/src/config/services.ts
  backend/src/core/repositories/submissionRepositoryInterface.ts
  backend/src/core/services/progress/getClassCompletion.ts
  backend/src/core/services/progress/getSubmissionActivity.ts
  backend/src/core/services/progress/index.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceSubmissionTypeORM.ts
  backend/src/infrastructure/repositories/submissionRepositoryTypeORM.ts
  backend/test/integration/analytics.int.test.ts
  backend/test/unit/application/routes.test.ts
  backend/test/unit/core/services/progress/getClassCompletion.test.ts
  backend/test/unit/core/services/progress/getSubmissionsActivity.test.ts
Labels: enhancement, backend

#554 [Frontend] - I18n
  frontend/angular.json
  frontend/src/app/components/already-authenticated/already-authenticated.component.html
  frontend/src/app/components/authenticated-header/authenticated-header.component.html
  frontend/src/app/components/authenticated-menu/authenticated-menu.component.html
  frontend/src/app/components/class-code-popup/class-code-popup.component.html
  frontend/src/app/components/class-members-list/class-members-list.component.html
  frontend/src/app/components/class-pending-requests/class-pending-requests.component.html
  frontend/src/app/components/class-pending-requests/class-pending-requests.component.ts
  frontend/src/app/components/class/class.component.html
  frontend/src/app/components/class/class.component.ts
  frontend/src/app/components/create-class/create-class.component.html
  frontend/src/app/components/create-class/create-class.component.ts
  frontend/src/app/components/create-group/create-group.component.html
  frontend/src/app/components/create-request/create-request.component.html
  frontend/src/app/components/create-request/create-request.component.ts
  frontend/src/app/components/explore/explore.component.html
  frontend/src/app/components/explore/explore.component.ts
  frontend/src/app/components/group-card/group-card.component.html
  frontend/src/app/components/group/group.component.html
  frontend/src/app/components/group/group.component.ts
  frontend/src/app/components/language-selector/language-selector.component.html
  frontend/src/app/components/language-selector/language-selector.component.ts
  frontend/src/app/components/learning-path/learning-path.component.html
  frontend/src/app/components/loading/loading.component.html
  frontend/src/app/components/login/login.component.html
  frontend/src/app/components/paginated-grid/custom-paginator-intl.ts
  frontend/src/app/components/paginated-grid/paginated-grid.component.html
  frontend/src/app/components/register/register.component.html
  frontend/src/app/components/small-components/class-info-card/class-info-card.component.html
  frontend/src/app/components/small-components/class-overview-widget/class-overview-widget.component.html
  frontend/src/app/components/small-components/graphs/activity-graph/activity-graph.component.html
  frontend/src/app/components/small-components/graphs/class-graph/class-graph.component.html
  frontend/src/app/components/small-components/learning-path-filter/learning-path-filter.component.html
  frontend/src/app/components/small-components/learning-path-info-card/learning-path-info-card.component.html
  frontend/src/app/components/small-components/learning-path-list/learning-path-list.component.html
  frontend/src/app/components/small-components/upcoming-deadlines-widget/deadlines-widget.component.html
  frontend/src/app/components/small-components/upcoming-deadlines-widget/deadlines-widget.component.spec.ts
  frontend/src/app/components/student-dashboard/student-dashboard.component.html
  frontend/src/app/components/teacher-dashboard/teacher-dashboard.component.html
  frontend/src/app/components/unauthenticated-header/unauthenticated-header.component.html
  frontend/src/app/components/unauthorized/unauthorized.component.html
  frontend/src/app/components/unknown-route/unknown-route.component.html
  frontend/src/app/pages/classes-page/classes-page.component.html
  frontend/src/app/pages/landing-page/landing-page.component.html
  frontend/src/app/services/assignment.service.ts
  frontend/src/app/services/authentication.service.ts
  frontend/src/app/services/classes.service.ts
  frontend/src/app/services/error.service.ts
  frontend/src/app/services/learningObject.service.ts
  frontend/src/app/services/learningPath.service.ts
  frontend/src/app/services/message.service.ts
  frontend/src/app/services/questionThread.service.ts
  frontend/src/locale/messages.de.json
  frontend/src/locale/messages.fr.json
  frontend/src/locale/messages.json
  frontend/src/locale/messages.nl.json
Labels: documentation, enhancement, frontend

#436 [Backend] - Application - 378 Backend Application Class Codes Endpoints
  backend/api/openapi.yml
  backend/src/application/resources/index.ts
  backend/src/application/resources/joinCodeResource.ts
  backend/src/application/schemas/index.ts
  backend/src/application/schemas/joinCodeSchemas.ts
  backend/src/application/schemas/joinRequestSchemas.ts
  backend/src/config/controllers.ts
  backend/src/config/repositories.ts
  backend/src/config/services.ts
  backend/src/config/setupRoutes.ts
  backend/src/core/entities/joinCode.ts
  backend/src/core/repositories/classRepositoryInterface.ts
  backend/src/core/repositories/joinCodeRepositoryInterface.ts
  backend/src/core/services/joinCode/createJoinCode.ts
  backend/src/core/services/joinCode/deleteJoinCode.ts
  backend/src/core/services/joinCode/getJoinCodes.ts
  backend/src/core/services/joinCode/index.ts
  backend/src/core/services/joinCode/joinCodeService.ts
  backend/src/core/services/joinCode/updateJoinCode.ts
  backend/src/core/services/joinRequest/createJoinRequest.ts
  backend/src/infrastructure/database/data/data_models/joinCodeTypeorm.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceClassTypeORM.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceJoinCodeTypeORM.ts
  backend/src/infrastructure/repositories/classRepositoryTypeORM.ts
  backend/src/infrastructure/repositories/joinCodeRepositoryTypeORM.ts
  backend/test/unit/application/routes.test.ts
  backend/test/unit/core/services/joinCode/createJoinCode.test.ts
  backend/test/unit/core/services/joinCode/deleteJoinCode.test.ts
  backend/test/unit/core/services/joinCode/getJoinCodes.test.ts
  backend/test/unit/core/services/joinCode/updateJoinCode.test.ts
  backend/test/unit/infrastructure/repositories/joinCodeRepositoryTypeORM.test.ts
Labels: enhancement, backend

#475 [Frontend] - Question components
  .github/workflows/deploy.yml
  frontend/src/app/app.routes.ts
  frontend/src/app/components/chat/chat.component.html
  frontend/src/app/components/chat/chat.component.less
  frontend/src/app/components/chat/chat.component.ts
  frontend/src/app/interfaces/message/message.ts
  frontend/src/app/interfaces/questionThread/questionThreadResponse.ts
  frontend/src/app/pages/chat-page/chat-page.component.html
  frontend/src/app/pages/chat-page/chat-page.component.less
  frontend/src/app/pages/chat-page/chat-page.component.ts
  frontend/src/app/services/message.service.spec.ts
  frontend/src/app/services/message.service.ts
  frontend/src/app/services/questionThread.service.spec.ts
  frontend/src/app/services/questionThread.service.ts
Labels: feature, frontend

#573 [Frontend] - Teacher dashboard + explore page improvements
  backend/extra/seedDatabase.ts
  frontend/src/app/components/explore/explore.component.html
  frontend/src/app/components/explore/explore.component.less
  frontend/src/app/components/explore/explore.component.ts
  frontend/src/app/components/learning-path/learning-path.component.ts
  frontend/src/app/components/loading/loading.component.html
  frontend/src/app/components/loading/loading.component.less
  frontend/src/app/components/loading/loading.component.ts
  frontend/src/app/components/small-components/card-skeleton-loader/card-skeleton-loader.component.html
  frontend/src/app/components/small-components/card-skeleton-loader/card-skeleton-loader.component.less
  frontend/src/app/components/small-components/card-skeleton-loader/card-skeleton-loader.component.spec.ts
  frontend/src/app/components/small-components/card-skeleton-loader/card-skeleton-loader.component.ts
  frontend/src/app/components/small-components/class-info-card/class-info-card.component.html
  frontend/src/app/components/small-components/class-info-card/class-info-card.component.spec.ts
  frontend/src/app/components/small-components/class-info-card/class-info-card.component.ts
  frontend/src/app/components/small-components/class-overview-widget/class-overview-widget.component.html
  frontend/src/app/components/small-components/class-overview-widget/class-overview-widget.component.spec.ts
  frontend/src/app/components/small-components/class-overview-widget/class-overview-widget.component.ts
  frontend/src/app/components/small-components/graphs/activity-graph/activity-graph.component.ts
  frontend/src/app/components/small-components/learning-path-filter/learning-path-filter.component.less
  frontend/src/app/components/small-components/learning-path-info-card/learning-path-info-card.component.less
  frontend/src/app/components/small-components/learning-path-list/learning-path-list.component.less
  frontend/src/app/components/small-components/upcoming-deadlines-widget/deadlines-widget.component.html
  frontend/src/app/components/small-components/upcoming-deadlines-widget/deadlines-widget.component.less
  frontend/src/app/components/teacher-dashboard/teacher-dashboard.component.html
  frontend/src/app/components/teacher-dashboard/teacher-dashboard.component.less
  frontend/src/app/components/teacher-dashboard/teacher-dashboard.component.spec.ts
  frontend/src/app/components/teacher-dashboard/teacher-dashboard.component.ts
  frontend/src/app/interfaces/progress/activity.ts
  frontend/src/app/interfaces/progress/completion.ts
  frontend/src/app/interfaces/progress/progress.ts
  frontend/src/app/pages/assignment-page/assignment-page.component.spec.ts
  frontend/src/app/pages/assignment-page/assignment-page.component.ts
  frontend/src/app/services/progress.service.spec.ts
  frontend/src/app/services/progress.service.ts
  frontend/src/locale/messages.json
Labels: enhancement, frontend

#576 [Backend] - fix linting errors
  backend/src/infrastructure/database/data/data_models/userTypeorm.ts
  backend/src/infrastructure/database/data/data_sources/datasourceInterface.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceAssignmentTypeORM.ts
Labels: backend

#574 [Frontend] - Link assignment creation to explore page
  frontend/src/app/app.routes.ts
  frontend/src/app/components/create-assignment/create-assignment.component.html
  frontend/src/app/components/create-assignment/create-assignment.component.ts
  frontend/src/app/components/create-group/create-group.component.ts
  frontend/src/app/components/small-components/learning-path-info-card/learning-path-info-card.component.html
  frontend/src/app/components/small-components/learning-path-info-card/learning-path-info-card.component.spec.ts
  frontend/src/app/components/small-components/learning-path-info-card/learning-path-info-card.component.ts
  frontend/src/app/pages/assignments-page/assignments-page.component.html
  frontend/src/app/pages/assignments-page/assignments-page.component.ts
  frontend/src/app/pages/create-assignment-page/create-assignment-page.component.html
  frontend/src/app/pages/create-assignment-page/create-assignment-page.component.less
  frontend/src/app/pages/create-assignment-page/create-assignment-page.component.spec.ts
  frontend/src/app/pages/create-assignment-page/create-assignment-page.component.ts
Labels: enhancement, frontend

#579 [Frontend] - improve user experience in explore page
  frontend/src/app/components/explore/explore.component.html
  frontend/src/app/components/explore/explore.component.less
  frontend/src/app/components/explore/explore.component.ts
  frontend/src/app/components/learning-path/learning-path.component.html
  frontend/src/app/components/learning-path/learning-path.component.ts
  frontend/src/app/components/small-components/learning-path-info-card/learning-path-info-card.component.html
  frontend/src/app/components/small-components/learning-path-info-card/learning-path-info-card.component.ts
  frontend/src/app/components/small-components/learning-path-list/learning-path-list.component.html
  frontend/src/app/components/small-components/learning-path-list/learning-path-list.component.ts
Labels: enhancement, frontend

#572 [Database] - Fixed ManyToMany relations
  backend/src/infrastructure/database/data/data_models/classTypeorm.ts
  backend/src/infrastructure/database/data/data_models/groupTypeorm.ts
  backend/src/infrastructure/database/data/data_models/studentOfGroupTypeorm.ts
  backend/src/infrastructure/database/data/data_models/userOfClassTypeorm.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceAssignmentTypeORM.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceClassTypeORM.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceGroupTypeORM.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceTypeORMConnectionSettingsFactory.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceUserTypeORM.ts
  backend/test/integration/user.int.test.ts
Labels: enhancement, backend

#582 [Backend] - Endpoints Tasks
  backend/api/openapi.yml
  backend/src/application/resources/index.ts
  backend/src/application/resources/taskResource.ts
  backend/src/application/schemas/index.ts
  backend/src/application/schemas/submissionSchemas.ts
  backend/src/application/schemas/taskSchemas.ts
  backend/src/config/controllers.ts
  backend/src/config/repositories.ts
  backend/src/config/services.ts
  backend/src/config/setupRoutes.ts
  backend/src/config/taskTypes.ts
  backend/src/core/entities/submission.ts
  backend/src/core/entities/task.ts
  backend/src/core/repositories/submissionRepositoryInterface.ts
  backend/src/core/repositories/taskRepositoryInterface.ts
  backend/src/core/services/submission/createSubmission.ts
  backend/src/core/services/submission/getSubmission.ts
  backend/src/core/services/task/createTask.ts
  backend/src/core/services/task/deleteTask.ts
  backend/src/core/services/task/getTask.ts
  backend/src/core/services/task/getTasksAssignment.ts
  backend/src/core/services/task/index.ts
  backend/src/core/services/task/taskService.ts
  backend/src/core/services/task/updateTask.ts
  backend/src/infrastructure/database/data/data_models/submissionTypeorm.ts
  backend/src/infrastructure/database/data/data_models/taskTypeORM.ts
  backend/src/infrastructure/database/data/data_models/userTypeorm.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceSubmissionTypeORM.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceTaskTypeORM.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceTypeORMConnectionSettingsFactory.ts
  backend/src/infrastructure/repositories/submissionRepositoryTypeORM.ts
  backend/src/infrastructure/repositories/taskRepositoryTypeORM.ts
  backend/test/integration/analytics.int.test.ts
  backend/test/integration/progress.int.test.ts
  backend/test/integration/submissions.int.test.ts
  backend/test/integration/task.int.test.ts
  backend/test/unit/core/services/submission/createSubmission.test.ts
  backend/test/unit/core/services/submission/getSubmission.test.ts
  backend/test/unit/core/services/submission/getUserSubmission.test.ts
  backend/test/unit/infrastructure/repositories/submissionRepositoryTypeORM.test.ts
  frontend/src/app/components/small-components/learning-path-info-card/learning-path-info-card.component.spec.ts
  frontend/src/app/components/unknown-route/unknown-route.component.html
  frontend/src/app/components/unknown-route/unknown-route.component.spec.ts
Labels: enhancement, backend

#555 [Frontend ] - Assignment - create task within assignment
  backend/extra/clearDatabase.ts
  backend/package-lock.json
  backend/package.json
  backend/src/infrastructure/database/data/data_sources/datasourceInterface.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app.routes.ts
  frontend/src/app/components/create-submission/create-submission.component.html
  frontend/src/app/components/create-submission/create-submission.component.ts
  frontend/src/app/components/create-submission/multiple-choice-submission/multiple-choice-submission.component.html
  frontend/src/app/components/create-submission/multiple-choice-submission/multiple-choice-submission.component.less
  frontend/src/app/components/create-submission/multiple-choice-submission/multiple-choice-submission.component.spec.ts
  frontend/src/app/components/create-submission/multiple-choice-submission/multiple-choice-submission.component.ts
  frontend/src/app/components/create-submission/normal-task-submission/normal-task-submission.component.html
  frontend/src/app/components/create-submission/normal-task-submission/normal-task-submission.component.less
  frontend/src/app/components/create-submission/normal-task-submission/normal-task-submission.component.spec.ts
  frontend/src/app/components/create-submission/normal-task-submission/normal-task-submission.component.ts
  frontend/src/app/components/create-task/create-multiple-choice/create-multiple-choice.component.html
  frontend/src/app/components/create-task/create-multiple-choice/create-multiple-choice.component.less
  frontend/src/app/components/create-task/create-multiple-choice/create-multiple-choice.component.spec.ts
  frontend/src/app/components/create-task/create-multiple-choice/create-multiple-choice.component.ts
  frontend/src/app/components/create-task/create-normal-task/create-normal-task.component.html
  frontend/src/app/components/create-task/create-normal-task/create-normal-task.component.less
  frontend/src/app/components/create-task/create-normal-task/create-normal-task.component.spec.ts
  frontend/src/app/components/create-task/create-normal-task/create-normal-task.component.ts
  frontend/src/app/components/create-task/create-task-component/create-task.component.html
  frontend/src/app/components/create-task/create-task-component/create-task.component.less
  frontend/src/app/components/create-task/create-task-component/create-task.component.spec.ts
  frontend/src/app/components/create-task/create-task-component/create-task.component.ts
  frontend/src/app/interfaces/assignment/tasks.ts
  frontend/src/app/pages/assignment-page/assignment-page.component.html
  frontend/src/app/pages/assignment-page/assignment-page.component.spec.ts
  frontend/src/app/pages/assignment-page/assignment-page.component.ts
  frontend/src/app/pages/assignments-page/assignments-page.component.ts
  frontend/src/app/pages/create-assignment-page/create-assignment-page.component.ts
Labels: enhancement

#570 [Backend] - Application - Fixed Expiration Error and Code Docs
  backend/api/openapi.yml
  backend/src/core/helpers.ts
Labels: documentation, enhancement

#586 [Frontend] - submission task service
  frontend/src/app/components/teacher-dashboard/teacher-dashboard.component.spec.ts
  frontend/src/app/interfaces/tasks/createTask.ts
  frontend/src/app/interfaces/tasks/getTasks.ts
  frontend/src/app/interfaces/tasks/index.ts
  frontend/src/app/interfaces/tasks/task.ts
  frontend/src/app/interfaces/tasks/taskType.ts
  frontend/src/app/services/task.service.spec.ts
  frontend/src/app/services/task.service.ts
Labels: enhancement, frontend

#593 [Frontend] - improve speed for dwengo endpoints
  backend/src/config/taskTypes.ts
  backend/src/infrastructure/dwengo_backend/data/data_sources/http/datasourceDwengo.ts
  backend/src/infrastructure/dwengo_backend/data/data_sources/http/datasourceLearningObject.ts
  backend/src/infrastructure/dwengo_backend/data/data_sources/http/datasourceLearningPath.ts
  backend/test/unit/infrastructure/dwengo_backend/data/data_sources/http/datasourceLearningObject.test.ts
  frontend/src/app/components/group-dialog/group-dialog.component.spec.ts
  frontend/src/app/components/student-dashboard/student-dashboard.component.html
  frontend/src/app/components/student-dashboard/student-dashboard.component.ts
Labels: enhancement, backend

#591 [Database] - Updated drawio db scheme
  backend/src/infrastructure/database/dwengo_database.drawio.svg
  frontend/src/app/interfaces/tasks/getTasks.ts
  frontend/src/app/services/task.service.spec.ts
Labels: documentation, backend

#605 [Database] - Fix classes of user query
  backend/src/core/entities/class.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceClassTypeORM.ts
  backend/test/integration/class.int.test.ts
Labels: bug, backend

#607 [Frontend] - Fix loading on dashboards
  frontend/src/app/components/student-dashboard/student-dashboard.component.html
  frontend/src/app/components/student-dashboard/student-dashboard.component.ts
  frontend/src/app/components/teacher-dashboard/teacher-dashboard.component.ts
Labels: bug, frontend

#596 [Frontend] - Service - Refresh Token
  frontend/src/app/services/authentication.service.spec.ts
  frontend/src/app/services/authentication.service.ts
  frontend/src/app/services/error.service.spec.ts
  frontend/src/app/services/error.service.ts
  frontend/src/app/services/errorAuthHandler.service.spec.ts
  frontend/src/app/services/errorAuthHandler.service.ts
  frontend/src/locale/messages.de.json
  frontend/src/locale/messages.fr.json
  frontend/src/locale/messages.json
  frontend/src/locale/messages.nl.json
Labels: enhancement, frontend

#611 [Frontend] - Remove class member
  frontend/src/app/components/class-members-list/class-members-list.component.html
  frontend/src/app/components/class-members-list/class-members-list.component.ts
  frontend/src/app/services/classes.service.ts
Labels: enhancement

#609 [Backend] - Added reject status to submission
  backend/api/openapi.yml
  backend/src/application/schemas/submissionSchemas.ts
  backend/src/core/entities/submission.ts
  backend/src/core/repositories/submissionRepositoryInterface.ts
  backend/src/core/services/submission/updateSubmission.ts
  backend/src/infrastructure/database/data/data_models/submissionTypeorm.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceSubmissionTypeORM.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceUserTypeORM.ts
  backend/src/infrastructure/repositories/submissionRepositoryTypeORM.ts
  backend/test/integration/submissions.int.test.ts
  backend/test/integration/user.int.test.ts
  backend/test/unit/infrastructure/repositories/submissionRepositoryTypeORM.test.ts
Labels: enhancement, backend

#622 [Frontend] - Update i18n
  frontend/package-lock.json
  frontend/src/locale/messages.de.json
  frontend/src/locale/messages.fr.json
  frontend/src/locale/messages.json
  frontend/src/locale/messages.nl.json
Labels: enhancement

#625 [Frontend] - Improve learningObject HTMl
  frontend/src/app/components/explore/explore.component.html
  frontend/src/app/components/explore/explore.component.ts
  frontend/src/app/components/learning-path/learning-path.component.html
  frontend/src/app/components/learning-path/learning-path.component.less
  frontend/src/app/components/learning-path/learning-path.component.ts
Labels: enhancement, frontend

#626 [Frontend] - assignment left and right button
  frontend/src/app/components/assignment/assignment.component.html
  frontend/src/app/components/assignment/assignment.component.ts
  frontend/src/app/components/learning-path/learning-path.component.ts
  frontend/src/app/datastructures/directed-graph.ts
Labels: frontend

#627 620 frontendbackend progress endpoint implementation
  backend/api/openapi.yml
  backend/src/application/resources/progressResource.ts
  backend/src/config/controllers.ts
  backend/src/config/services.ts
  backend/src/core/repositories/submissionRepositoryInterface.ts
  backend/src/core/services/progress/getClassScore.ts
  backend/src/core/services/progress/index.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceSubmissionTypeORM.ts
  backend/src/infrastructure/repositories/submissionRepositoryTypeORM.ts
  backend/test/integration/user.int.test.ts
  backend/test/unit/application/routes.test.ts
  backend/test/unit/core/services/progress/getClassScore.test.ts
  frontend/angular.json
  frontend/src/app/components/learning-path/learning-path.component.ts
  frontend/src/app/components/small-components/graphs/class-graph/class-graph.component.html
  frontend/src/app/components/small-components/graphs/class-graph/class-graph.component.ts
  frontend/src/app/components/teacher-dashboard/teacher-dashboard.component.ts
  frontend/src/app/interfaces/progress/index.ts
  frontend/src/app/interfaces/progress/score.ts
  frontend/src/app/services/progress.service.ts
Labels: enhancement, frontend, backend

#631 [Frontend] - responsive assignment creation + assignments access management
  frontend/src/app/components/create-group/create-group.component.html
  frontend/src/app/components/create-group/create-group.component.less
  frontend/src/app/components/group-dialog/group-dialog.component.spec.ts
  frontend/src/app/components/mini-user/mini-user.component.ts
  frontend/src/app/components/small-components/assignment-card/assignment-card.component.html
  frontend/src/app/components/small-components/assignment-card/assignment-card.component.less
  frontend/src/app/components/small-components/assignment-card/assignment-card.component.ts
  frontend/src/app/pages/assignments-page/assignments-page.component.html
  frontend/src/app/pages/assignments-page/assignments-page.component.ts
  frontend/src/app/pages/create-assignment-page/create-assignment-page.component.html
  frontend/src/app/pages/create-assignment-page/create-assignment-page.component.less
Labels: enhancement, frontend

#634 [Frontend] - Fix assignment dates
  frontend/src/app/components/create-assignment/create-assignment.component.ts
Labels: bug, frontend

#636 Corrected type of learning_object_id in drawio scheme to hruid
  backend/src/infrastructure/database/dwengo_database.drawio.svg
Labels: documentation, backend

#637 [Frontend] - Question components tests and integrations
  backend/extra/seedDatabase.ts
  frontend/src/app/components/assignment/assignment.component.html
  frontend/src/app/components/assignment/assignment.component.less
  frontend/src/app/components/assignment/assignment.component.ts
  frontend/src/app/components/authenticated-menu/authenticated-menu.component.html
  frontend/src/app/components/chat-popup/chat-popup.component.html
  frontend/src/app/components/chat-popup/chat-popup.component.less
  frontend/src/app/components/chat-popup/chat-popup.component.ts
  frontend/src/app/components/chat/chat.component.html
  frontend/src/app/components/chat/chat.component.less
  frontend/src/app/components/chat/chat.component.spec.ts
  frontend/src/app/components/chat/chat.component.ts
  frontend/src/app/components/teacher-dashboard/teacher-dashboard.component.html
  frontend/src/app/components/teacher-dashboard/teacher-dashboard.component.less
  frontend/src/app/components/teacher-dashboard/teacher-dashboard.component.ts
  frontend/src/app/interfaces/questionThread/questionThread.ts
  frontend/src/app/pages/chat-page/chat-page.component.html
  frontend/src/app/pages/chat-page/chat-page.component.less
  frontend/src/app/pages/chat-page/chat-page.component.ts
  frontend/src/app/pages/chat-view/chat-view.component.html
  frontend/src/app/pages/chat-view/chat-view.component.less
  frontend/src/app/pages/chat-view/chat-view.component.spec.ts
  frontend/src/app/pages/chat-view/chat-view.component.ts
  frontend/src/app/services/learningObject.service.ts
  frontend/src/app/services/questionThread.service.spec.ts
  frontend/src/app/services/questionThread.service.ts
Labels: enhancement, feature, tests, frontend

#638 fix(frontend): update internationalization
  frontend/src/app/services/classes.service.ts
  frontend/src/locale/messages.de.json
  frontend/src/locale/messages.fr.json
  frontend/src/locale/messages.json
  frontend/src/locale/messages.nl.json
Labels: enhancement

#640 Fix Merge Conflicts Dev
  backend/api/openapi.yml
  backend/src/application/resources/progressResource.ts
  backend/src/config/controllers.ts
  backend/src/config/services.ts
  backend/src/core/repositories/submissionRepositoryInterface.ts
  backend/src/core/services/progress/getClassScore.ts
  backend/src/core/services/progress/index.ts
  backend/src/infrastructure/database/data/data_sources/typeorm/datasourceSubmissionTypeORM.ts
  backend/src/infrastructure/repositories/submissionRepositoryTypeORM.ts
  backend/test/integration/user.int.test.ts
  backend/test/unit/application/routes.test.ts
  backend/test/unit/core/services/progress/getClassScore.test.ts
  frontend/angular.json
  frontend/src/app/components/small-components/graphs/class-graph/class-graph.component.html
  frontend/src/app/components/small-components/graphs/class-graph/class-graph.component.ts
  frontend/src/app/components/teacher-dashboard/teacher-dashboard.component.ts
  frontend/src/app/interfaces/progress/index.ts
  frontend/src/app/interfaces/progress/score.ts
  frontend/src/app/services/progress.service.ts
Labels: bug
